/* bg color: #7d7d7d;*/
:root {
  --color-primary--bg: #4b4b4b;
  --color-component--container--border: gray;
  --color-component--bg: #aaa;
  --color-component--border: white;
}

.container {
  width: 100rem;
  margin: auto;
}

.container-row{}

.td-row {
  background-color: #4b4b4b;
  width: 100%;
}

input[type="checkbox"] {
  appearance: none;
  border: 1px solid var(--color-primary--bg);
  width: 2rem;
  height: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.hidden {
  display: none;
}

/* Nudge component */
.nudge-btn {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 0.8rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-80%, 16%);
}

.nudge-btn:hover > .nudge-action--bar {
  display: block;
}

.nudge-icon {
  width: 100%;
  height: 100%;
}

.nudge-btn-content {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: var(--color-primary--bg);
  border-radius: 50%;
}

.nudge-action--bar {
  background-color: var(--color-nudge-bg);
  width: 10rem;
  height: 7rem;
  overflow-y: scroll;
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 0.5rem;
  display: none;
}

.placeholder {
  color: var(--color-primary--bg);
  font-size: 1.2rem;
  font-weight: 900;
}

/* .nudge-action--container {
    
  } */

.nudge-actions {
  list-style: none;
}

.nudge-action--btn,
.nudge-action--delete {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.nudge-action--btn:not(:last-child) {
  border-bottom: 1px solid var(--color-component--border);
}

/* Draggable component */
.draggable-component-btn {
  transform: translateY(10%);
}

.drag-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.drag-highlight {
  box-shadow: 0px 1px 3px gray;
}

/* Delete component */
.delete-component-btn {
  transform: translateY(45%);
}

.delete-icon {
  width: 1.2rem;
  height: 1.2rem;
  scale: 1.5;
}


.btn-sm{
  width: 6rem !important;
}

.bd-radius{
  border-radius: 0.2rem;
}

.inactive{
  background-color: #7d7d7d;
}

.active{
  background-color: #ededed;
}

.custom-loader {
  width:50px;
  height:50px;
  --c:radial-gradient(farthest-side,#0c0c0c 92%,#0000);
  background: 
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0    50%;
  background-size:12px 12px;
  background-repeat:no-repeat;
  animation:s7 1s infinite;
}
@keyframes s7 {to{transform: rotate(.5turn)}}

.renderAbove{
  z-index: 100;
}

/* alert component */
.alert{
  width: 20rem;
  height: 4rem;
  border-radius: 0.2rem;
  background-color: #4b4b4b;
  display: grid;
  grid-template-columns: auto 1fr;
  position: absolute;
  z-index: 100;
  top: 5%;
  left: 43%;
}

.alert-msg{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ededed;
  font-size: 1.2rem;
}

.alert-success{
  background-color: #1aff1a;
}

.alert-error{
  background-color: #660000;
}

.alert-icon{
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-success-icon,.alert-error-icon{
  height: 50%;
}

.alert-success-icon{

}

.alert-error-icon{

}

.form-field-error{
  border-bottom: 3px solid #660000 !important;
}

.new-comp{}