:root {
  --color-primary--bg: #4b4b4b;
  --color-component--container--border: gray;
  --color-component--bg: #aaa;
  --color-component--border: white;
  --color-nudge-bg: whitesmoke;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  overflow-y: scroll;
  /* font-family: sans-serif;
   */
  font-family: 'Crimson Text', serif;
  background-color: #0c0c0c;
}

/* header section */
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 800;
}

.todo-active header{
  
  background-color: #0c0c0c;
}

.navbar {
  height: 3rem;
  display: flex;
}

.navbar-back--btn {
  color: var(--color-primary--bg);
  cursor: pointer;
  background: #b1b1b1;
  border: none;
  border-radius: 0.4rem;
  width: 5rem;
  height: 2rem;
  transform: translate(14%, 18%);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-header-title {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: #7d7d7d;
}

/* body container section */

.td-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 2rem;
}

.td-component--container {
  height: 100vh;
  border-inline: 2px solid var(--color-component--container--border);
  /* overflow-y: scroll; */
  /* hack */
  /* width: 334px; */
}

.td-render--container {
  height: 100vh;
  background-color: #b1b1b1;
  overflow-y: scroll;
  padding-bottom: 30rem;
  /* overflow-y: scroll; */
  /* hack */
  /* width: 666px; */
}

.td-render-todo--add-btn {
  background-color: #ededed;
  padding: 1.2rem 0;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
}

/* component section */
.component-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  /* border-radius: 2rem; */
  overflow-y: scroll;
  height: inherit;
  padding-bottom: 30rem;
  /* margin-top: 2.6rem; */
}

.component-container--box {
  background-color: var(--color-component--bg);
  border: 1px solid var(--color-component--border);
  /* height: 10rem; */
  height: 11rem;
  position: relative;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
}
.component-container--box .td-complete:checked{
  fill: none;
  appearance: none;
  background: #fff;
  border: 2px solid gray;
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 2px;
}

.component-header {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.component-content-container {
  display: flex;
  flex-direction: column;
}

.component-content {
  margin-left: 1rem;
  list-style: none;
}

.component-editted-bar {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(73%);
  /* width: 100%; */
}

.td-complete {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
  display: inline-block;
  transform: translateY(20%);
  cursor: pointer;
}

.td-render--body {
  background-color: #b1b1b1;
}

.td-render-component-container {
  margin-top: 3rem;
}

.td-render-component-title {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 55rem;
  word-break: break-word;
}

.td-component-content {
  padding: 1rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 12fr;
  margin-bottom: 1rem;
  gap: 1.5rem;
}

.td-component-actions {
  display: flex;
  gap: 0.8rem;
  align-items: start;
  justify-content: center;
}

.td-component-actions-container {
  display: flex;
  gap: 0.8rem;
}

.td-render--content .draggable-component-btn {
  display: inline-block;
  transform: translateY(30%);
}

.td-render--content .drag-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.td-label-container {
  display: inline-block;
  width: 80%;
}

.resize-td-label {
  height: 5rem;
  overflow-y: scroll;
}

.add-td-component-content {
  padding: 1rem 2rem;
  padding-top: 0;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* render inputs */
.td-render-title {
  background-color: inherit;
  border: none;
  font-size: 2rem;
}

.td-render-title:focus,
.form-task-td:focus {
  outline: none;
}

.td-render-title[contenteditable="true"] {
  display: inline-block;
  background-color: inherit;
  caret-color: black;
}

.td-render-title[contenteditable="true"] > div {
  padding: 0;
} 

.td-render-title:empty::before {
  content: attr(placeholder) " ";
  -webkit-text-fill-color: var(--color-primary--bg);
  z-index: 200;
}

.form-task-td {
  background-color: inherit;
  border: none;
  width: 80%;
  padding-top: 0;
  font-size: 1.8rem;
  word-break: break-word;
}

/* sync component styling */
.sync-alert{
  display: flex;
  background: crimson;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  /* height: 3.4rem; */
  height: auto;
  min-height: 4rem;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
}

.sync-msg{
  font-size: 1.6rem;
  color: #ededed;
}

.btn-sync{
  height: 2.6rem;
  width: 8.6rem;
  border: none;
  cursor: pointer;
}

.btn-sync-now{
  color: var(--color-component--bg);
}

.btn-sync-later{
  background-color :var(--color-component--bg);
  color: #ededed;
}

.loader-sync-msg{
  font-size: 1.6rem;
  color: #ededed;
  position: absolute;
  width: 20rem;
  transform: translate(-6rem,3.8rem);
}